.algorand-transferanother-col {
  text-decoration: none !important;
}

.algorand-transferanother-spinner {
  margin-top: 15px;
  margin-bottom: 15px;
}

.algorand-transferanother-url {
  text-decoration: underline !important;
}

.algorand-transferanother-waiting {
  font-size: 13px;
  margin-bottom: 5px !important;
}
