.algorand-transferto-input {
  padding-right: 30px !important;
  box-sizing: border-box !important;
}

p.algorand-transferto-balance-p {
  font-size: 1rem;
  margin-bottom: 0px;
  margin-top: 10px;
  font-weight: 400;
  word-break: break-word;
}

p.algorand-transferto-balance-p > span:not(.algorand-transferto-history) {
  font-size: 11px !important;
  display: inline-block;
  font-weight: 300 !important;
}

form.algorand-transferto-form .md-form {
  margin-top: 0px;
}

.algorand-transferto-select .form-control {
  border: 2px solid var(--algorand-color) !important;
}

.algorand-transferto-select .form-control:focus {
  box-shadow: none !important;
  border: 2px solid var(--algorand-color) !important;
}

.algorand-transferto-schedule-label {
  font-size: 14px !important;
  margin-top: 10px;
}

.algorand-transferto-schedule-label > p {
  margin-top: 3px;
  font-size: 14px !important;
  cursor: pointer;
}

.algorand-transferto-history {
  margin-top: 5px;
  cursor: pointer;
  text-decoration: underline;
  font-weight: 500 !important;
  font-size: 11px !important;
  display: inline-block;
}

.algorand-transferto-history-mock {
  margin-top: 5px;
  font-weight: 500 !important;
  font-size: 11px !important;
  display: inline-block;
}
