.algorand-transferamount {
  border-radius: 10px;
  border: 2px solid #ff3547;
  overflow: hidden;
  margin-top: 10px;
}

.algorand-transferamount-header-col {
  border-bottom-right-radius: 50px;
  background: #ff3547;
  text-align: center;
  color: #fff;
}

.algorand-transferamount-footer div[class*="col"] {
  text-align: center;
}

.algorand-transferamount-footer div[class*="col"]:nth-child(2) {
  text-decoration: underline;
}
