:root {
  --algorand-color-primary: #4285f4;
  --algorand-color-danger: #ff3547;
  --algorand-color-dark: #212121;
  --algorand-color-warning: #fb3;
  --algorand-color-success: #00c851;
  --algorand-color-secondary: #a6c;
  --algorand-color-info: #33b5e5;
  --algorand-color: var(--algorand-color-danger);
}
